<%= form_for(@project) do |f| %>

<% unless @project.errors.full_messages.to_sentence.blank? %>

 <div class="alert alert-danger">
 <a href="#" class="close" data-dismiss="alert">&times;</a>
<strong><%= @project.errors.full_messages.to_sentence %></strong>
</div>
<%end%>
<div>
  <p>
    <%= f.label :name %> <br/>
    <%= f.text_field :name, autofocus: true, class: "form-control"%>
  </p>
   <p>
    <%= f.label :description %> <br/>
    <%= f.text_field :description, class: "form-control" %>
  </p>
     <p>
    <%= f.label :target_pledge_amount %> <br/>
    <%= f.number_field :target_pledge_amount, class: "form-control" %>
  </p>
   <p>
    <%= f.label :Pledging_ends_on %> <br/>
    <%= f.date_select :pledging_ends_on, class: "form-control" %>
  </p>
     <p>
    <%= f.label :website %> <br/>
    <%= f.text_field :website, class: "form-control" %>
  </p>
   <p>
  	<%= f.submit class: "btn btn-success" %>
    <%= link_to "Cancel", projects_path, class: "btn btn-warning" %>
  </p>
<%end%>
