<h1> <%= @project.name  %> </h1>
<article>
<p> <%= truncate(@project.description) %> </p>
<p> <%= number_to_currency(@project.target_pledge_amount, unit: '€') %> </p>
<p> <%= format_pledging_ends_on(@project) %> </p>
<p> <a href="<%=@project.website%>" target=_blank><%= @project.website %> </a> </p>
</article>
