<div class="page-header">
<h1> <%= @project.name  %> </h1>
</div>
<article>
<p> <%= truncate(@project.description) %> </p>
<p> <%= number_to_currency(@project.target_pledge_amount, unit: '€') %> </p>
<p> <%= format_pledging_ends_on(@project) %> </p>
<p> <a href="<%=@project.website%>" target=_blank><%= @project.website %> </a> </p>
</article>
<ul class="nav nav-pills">
  <%= link_to "All Projects", projects_path, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_project_path(@project), class: "btn btn-warning" %>
</ul>
